<h1 id="toc_0">About us:</h1>

<h2 id="toc_1">Welcome to Scary Chat!</h2>

<p>We are a couple wild and crazy students working our way through The Iron Yard coding school. We don&#39;t have any spare time so I couldn&#39;t tell you what we do for fun and entertainment. Because we are in the backend course we focus on Ruby, Rails and some javascript. Our styling leaves people in tears, not because it&#39;s so good, but because it&#39;s that bad.</p>

<p>Michelle is the CEO. She has been running chat apps for a little over 26hrs. In such a short time she has really made a name for herself. taking blank Atom page and turning it into a fully functioning app.</p>

<p>Chris is the CIO. He has been doing chat apps for going on a week. He bring wild ideas and novel concepts to the table. Chris&#39; flare for the adventures is what lead them down this monstorous path.</p>
