
<p>
  <strong>Messages:</strong>
  <%= @chat.messages %>
</p>

<p>
  <strong>User:</strong>
  <%= @chat.user.username %>
</p>

<%= link_to 'Edit', edit_chat_path(@chat) %> |
<%= link_to 'Back', chats_path %>
